.main-section {
  padding-top: 20px;
  padding-bottom: 40px;
  //   min-height: calc(100vh - 230px - 100px);

  @media (min-width: 768px) {
    padding: 60px 0;
  }
}

.cards-gallery {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 768px) {
    padding-left: 76px;
    padding-right: 75px;
  }
  @media (min-width: 1024px) {
    padding-left: 71px;
    padding-right: 71px;
  }
}

.cards-gallery__list {
  margin-left: -20px;
  margin-top: -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: 768px) {
    margin-left: -30px;
    margin-top: -30px;
    justify-content: start;
  }
}

// .movie-card {
//   margin-left: 20px;
//   margin-top: 20px;
//   margin-bottom: 30px;
//   max-width: 280px;
//   flex-basis: calc(100% - 20px);
//   transition: scale 500ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover {
//     transform: scale(1.05);
//   }

//   @media (min-width: 768px) {
//     margin-left: 30px;
//     margin-top: 30px;

//     max-width: 294px;
//     flex-basis: calc((100% - 60px) / 2);
//   }

//   @media (min-width: 1024px) {
//     max-width: 274px;
//     flex-basis: calc((100% - 90px) / 3);
//   }
// }

.movie-card__image {
  // width: 100%;
  // height: 100%;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.movie-card__title {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #000000;
}

.movie-card__text {
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #ff6b08;
}

.movie-card__genre {
  //
}

.movie-card__year {
  //
}

.movie-card__rating {
  //
}
