.copyright_modal-open-text {
  cursor: pointer;
  background-color: none;
  border-bottom: 1px solid #545454;
  color: #545454;
  &:hover,
  &:focus {
    color: #ff6b08;
    border-bottom: 1px solid #ff6b08;
  }
}
.copyright_modal-open-button {
  background-color: transparent;
  border: none;
}
footer {
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}

.copyright {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #545454;
}

.copyright p {
  display: inline-block;
}

.footer_svg{

  animation: myAnim 1000ms linear 10ms infinite alternate backwards;
}

@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}