p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.visualy-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

// ---------------------------------------
// .visually-hidden {
//   position: absolute !important;
//   clip: rect(1px 1px 1px 1px);
//   clip: rect(1px, 1px, 1px, 1px);
//   padding: 0 !important;
//   border: 0 !important;
//   height: 1px !important;
//   width: 1px !important;
//   overflow: hidden;
// }

// .is-hidden {
//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
// }
// ------------------------------------------
