.header {
  padding: 45px 0;
  background-color: rgba(0, 0, 0, 0.56);

  height: 230px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/mobile/header_background_homepage@1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/mobile/header_background_homepage@2x.jpg');
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.56) rgba(0, 0, 0, 0.56)),
      url('../images/tablet/header_background_homepage@1x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/tablet/header_background_homepage@2x.jpg');
    }
  }

  @media screen and (min-width: 1025px) {
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/desktop/header_background_homepage@1x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/desktop/header_background_homepage@2x.jpg');
    }
  }
}

.nav {
  display: flex;
  align-items: flex-end;
  margin-bottom: 45px;
  a {
    color: #ffffff;
    text-transform: uppercase;
  }
}

.logo-link {
  margin-right: auto;
}

.home-link {
  margin-right: 40px;
  // border-bottom: solid 3px $accent-color;
}

.logo-word {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;

  text-decoration: none;
  // cursor: pointer;
  color: #ffffff;
  display: none;

  @media screen and (min-width: 769px) {
    padding-left: 12px;
    font-size: 30px;
    line-height: 1.17;
    text-transform: none;

    display: inline-block;
  }
}

.nav-logo {
  text-decoration: none;
  margin-right: auto;
}

.icon-filmoteka {
  width: 24px;
  height: 24px;
}

.header_home-button {
  background: none;
  border: none;
  outline: none;
  color: #ffffff;
}

.header_library-button {
  background: none;
  border: none;
  outline: none;
  color: #ffffff;
}

.search-form {
  width: 100%;
  position: relative;

  @media screen and (min-width: 769px) {
    width: 336px;
    margin-right: auto;
    margin-left: auto;
  }
}

.search-form_input {
  margin: auto;
  width: 100%;
  position: relative;

  @media screen and (min-width: 769px) {
    width: 336px;
    margin-right: auto;
    margin-left: auto;
  }
}

.icon-search {
  width: 12px;
  height: 12px;
  fill: #ffffff;
}

.search-form_submit-button {
  position: absolute;
  right: 0;
  top: 2px;
  border: none;
  background: none;
}

.search-form_input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 0.5px solid #ffffff;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  padding-right: 15px;

  &::placeholder {
    font-size: 14px;
    line-height: 1, 14;
    color: #ffffff;
  }
}

.current-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  // color: #ff6b01;
  // padding-top: 32px;
  // padding-bottom: 32px;
  // display: block;
}

.current-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #ff6b01;
  position: absolute;
  left: 0;
  bottom: -3px;
  // border-radius: 2px;
  opacity: 1;
}

.header_switch-box--library-page {
  // display: flex;
  // align-items: center;
  text-align: center;
  position: relative;
  color: #fff;
  border-color: #fff;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: none;
}

.header_watched-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  padding-left: 0;
  padding-right: 0;

  width: 136px;
  height: 44px;
  left: 241px;
  top: 121px;
  border-radius: 5px;
  cursor: pointer;

  background: rgba(0, 0, 0, 0.56);
  color: #fff;
  border-color: #fff;
}

.header_queue-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  padding-left: 0;
  padding-right: 0;

  width: 136px;
  height: 44px;
  left: 241px;
  top: 121px;
  border-radius: 5px;
  cursor: pointer;

  background: rgba(0, 0, 0, 0.56);
  color: #fff;
  border-color: #fff;
}

.header_watched-button:hover,
.header_queue-button:hover {
  background: #ff6b01;
  border-color: #ff6b01;
}

// для кнопок
.active {
  background-color: #ff6b01;
  border: 0;
}
