@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 75px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 70px;
  }
}

.header {
  padding: 45px 0;
  background-color: rgba(0, 0, 0, 0.56);
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/mobile/header_background_homepage@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/mobile/header_background_homepage@2x.jpg");
  }
}
@media screen and (min-width: 769px) {
  .header {
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.56) rgba(0, 0, 0, 0.56)), url("../images/tablet/header_background_homepage@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/tablet/header_background_homepage@2x.jpg");
  }
}
@media screen and (min-width: 1025px) {
  .header {
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/desktop/header_background_homepage@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1025px) and (min-device-pixel-ratio: 2), screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1025px) and (min-resolution: 192dpi), screen and (min-width: 1025px) and (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/desktop/header_background_homepage@2x.jpg");
  }
}

.nav {
  display: flex;
  align-items: flex-end;
  margin-bottom: 45px;
}
.nav a {
  color: #ffffff;
  text-transform: uppercase;
}

.logo-link {
  margin-right: auto;
}

.home-link {
  margin-right: 40px;
}

.logo-word {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  text-decoration: none;
  color: #ffffff;
  display: none;
}
@media screen and (min-width: 769px) {
  .logo-word {
    padding-left: 12px;
    font-size: 30px;
    line-height: 1.17;
    text-transform: none;
    display: inline-block;
  }
}

.nav-logo {
  text-decoration: none;
  margin-right: auto;
}

.icon-filmoteka {
  width: 24px;
  height: 24px;
}

.header_home-button {
  background: none;
  border: none;
  outline: none;
  color: #ffffff;
}

.header_library-button {
  background: none;
  border: none;
  outline: none;
  color: #ffffff;
}

.search-form {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 769px) {
  .search-form {
    width: 336px;
    margin-right: auto;
    margin-left: auto;
  }
}

.search-form_input {
  margin: auto;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 769px) {
  .search-form_input {
    width: 336px;
    margin-right: auto;
    margin-left: auto;
  }
}

.icon-search {
  width: 12px;
  height: 12px;
  fill: #ffffff;
}

.search-form_submit-button {
  position: absolute;
  right: 0;
  top: 2px;
  border: none;
  background: none;
}

.search-form_input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 0.5px solid #ffffff;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  padding-right: 15px;
}
.search-form_input::-moz-placeholder {
  font-size: 14px;
  line-height: 1, 14;
  color: #ffffff;
}
.search-form_input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1, 14;
  color: #ffffff;
}
.search-form_input::placeholder {
  font-size: 14px;
  line-height: 1, 14;
  color: #ffffff;
}

.current-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.current-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #ff6b01;
  position: absolute;
  left: 0;
  bottom: -3px;
  opacity: 1;
}

.header_library {
  padding: 45px 0;
  background-color: rgba(0, 0, 0, 0.56);
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/mobile/header_background_library@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header_library {
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/mobile/header_background_library@2x.jpg");
  }
}
@media screen and (min-width: 769px) {
  .header_library {
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/tablet/header_background_library@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .header_library {
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/tablet/header_background_library@2x.jpg");
  }
}
@media screen and (min-width: 1025px) {
  .header_library {
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/desktop/header_background_library@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1025px) and (min-device-pixel-ratio: 2), screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1025px) and (min-resolution: 192dpi), screen and (min-width: 1025px) and (min-resolution: 2dppx) {
  .header_library {
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../images/desktop/header_background_library@2x.jpg");
  }
}

.header_switch-box--library-page {
  text-align: center;
  position: relative;
  color: #fff;
  border-color: #fff;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: none;
}

.header_watched-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  width: 112px;
  height: 44px;
  left: 241px;
  top: 121px;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.56);
  color: #fff;
  border-color: #fff;
}
@media screen and (min-width: 768px) {
  .header_watched-button {
    width: 136px;
  }
}
@media screen and (min-width: 1024px) {
  .header_watched-button {
    width: 136px;
  }
}

.header_queue-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-left: 19px;
  width: 112px;
  height: 44px;
  left: 241px;
  top: 121px;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.56);
  color: #fff;
  border-color: #fff;
}
@media screen and (min-width: 768px) {
  .header_queue-button {
    width: 125px;
  }
}
@media screen and (min-width: 1024px) {
  .header_queue-button {
    width: 136px;
  }
}

.header_watched-button:hover,
.header_watched-button:focus,
.header_queue-button:hover,
.header_queue-button:focus {
  background: #ff6b01;
  border-color: #ff6b01;
}

.active {
  background-color: #ff6b01;
  border: 0;
}

.main-section {
  padding-top: 20px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .main-section {
    padding: 60px 15px;
  }
}

.cards-gallery {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .cards-gallery {
    padding-left: 76px;
    padding-right: 75px;
  }
}
@media (min-width: 1024px) {
  .cards-gallery {
    padding-left: 71px;
    padding-right: 71px;
  }
}

.cards-gallery__list {
  margin-left: -20px;
  margin-top: -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  .cards-gallery__list {
    margin-left: -30px;
    margin-top: -30px;
    justify-content: start;
  }
}

.movie-card {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 280px;
  flex-basis: calc(100% - 20px);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.movie-card:hover {
  transform: scale(1.03);
}
@media (min-width: 768px) {
  .movie-card {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 55px;
    max-width: 294px;
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media (min-width: 1024px) {
  .movie-card {
    max-width: 274px;
    flex-basis: calc((100% - 90px) / 3);
  }
}

.movie-card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.movie-card__title {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #000000;
}

.movie-card__text {
  margin-top: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #ff6b08;
}

.is-overflow {
  overflow: hidden;
}

.backdrop__film {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto;
  opacity: 1;
}
.backdrop__film.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__film {
  box-sizing: content-box;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100vh;
  width: 280px;
  padding: 48px 20px 41px 20px;
}
@media (min-width: 768px) {
  .modal__film {
    display: flex;
    margin: auto;
    width: 600px;
    height: 562px;
    padding: 42px 29px 40px 28px;
  }
}
@media (min-width: 1024px) {
  .modal__film {
    display: flex;
    width: 786px;
    height: 568px;
    padding: 50px 30px 40px 30px;
  }
}

.modal-close-button__film {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: inherit;
  padding: 6px;
  top: 8px;
  right: 8px;
}

.modal-close-icon__film {
  fill: #000;
}

@media (min-width: 768px) {
  .modal-details {
    display: flex;
  }
}
@media (min-width: 1024) {
  .modal-details {
    display: flex;
  }
}

.modal-details_btn-box {
  display: flex;
}

.modal-details_image {
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-width: 280px;
  height: 356px;
  border-radius: 5px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .modal-details_image {
    max-width: 264px;
    height: 373px;
  }
}
@media (min-width: 1024px) {
  .modal-details_image {
    max-width: 376px;
    height: 477.8px;
  }
}

@media (min-width: 768px) {
  .modal-details_image-box {
    margin-right: 30px;
  }
}
.modal-details_image-box .movie-details-data {
  text-align: start;
  width: 40vw;
}

.movie-details-data_title {
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
}
@media screen and (min-width: 1024px) {
  .movie-details-data_title {
    font-size: 30px;
    line-height: 1.17;
  }
}

.movie-details-data-left {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.1;
  color: #8C8C8C;
}
@media (min-width: 768px) {
  .movie-details-data-left {
    font-size: 12px;
  }
}

.movie-details-data-right {
  padding: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.1;
  align-items: center;
  color: #000000;
}
@media (min-width: 768px) {
  .movie-details-data-right {
    font-size: 12px;
    padding: 8px;
  }
}

.movie-details-accent {
  padding: 1px 7px 1px 7px;
  background-color: #FF6B01;
  border-radius: 5px;
}

.movie-details-data_description-title {
  margin-top: 16px;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .movie-details-data_description-title {
    font-size: 14px;
    margin-top: 22px;
    margin-bottom: 12px;
  }
}

.movie-details-data_description {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.6;
  color: #000000;
}
@media (min-width: 768) {
  .movie-details-data_description {
    line-height: 1.1;
    font-size: 14px;
  }
}

.modal-details_btn-box {
  display: flex;
  margin-top: 22px;
}

.modal-details_btn {
  width: 112px;
  height: 44px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #000000;
  color: #000;
  transition: all 250ms ease-in;
}
.modal-details_btn:hover, .modal-details_btn:focus {
  background-color: #FF6B01;
  color: #ffffff;
  border: 1px solid #FF6B01;
}
@media (min-width: 768px) {
  .modal-details_btn {
    width: 125px;
  }
}
@media (min-width: 1024) {
  .modal-details_btn {
    width: 136px;
  }
}/*# sourceMappingURL=main.css.map */