/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './variables';
@import './general';

// <--стили ограничивающего контейнера-->
@import './base/container';

@import './header';
@import './header_library';
@import './cards-gallery';
@import './movie-card';
@import './footer';
@import './modal-movie-details';
@import './modal-team';
@import './pagination';
@import './spinner';
