<div class="modal-details">
      <img
        class="modal-details_image"
        src="https://encrypted-tbn0.gstatic.com/{{poster_path}}"
        alt="image is not found"
      />
      <div class="movie-details-data">
        <h2 class="movie-details-data_title">EXEMPLE NAME</h2>
        <table class="movie-details-data_table">
          <tr>
            <td>vote</td>
            <td><span>7</span> / <span>1260</span></td>
          </tr>
          <tr>
            <td>popularity</td>
            <td>100.2</td>
          </tr>
          <tr>
            <td>title</td>
            <td>exemple</td>
          </tr>
          <tr>
            <td>genre</td>
            <td>western</td>
          </tr>
        </table>
        <p class="movie-details-data_description-title">ABOUT</p>
        <p class="movie-details-data_description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam id veniam sed nemo
          molestiae a, voluptatum libero voluptates odio aliquid eos repudiandae nam nulla omnis.
          Modi quaerat enim quam deleniti!
        </p>
      </div>
      <button class="modal-details_watched-button"><span>ADD TO</span> WATCHED</button>
      <button class="modal-details_queue-button"><span>ADD TO</span> QUEUE</button>
    </div>
