{{#each this}}
<li class="movie-card">
    <img src="{{link}}" alt="{{tags}}" class="movie-card__image">
    <p class="movie-card__title"></p>
<div class="movie-card__text">
    <P class="movie-card__genre">{{genre}}</P> 
    <p class="movie-card__year">{{date}}</p>
    <p class ="movie-card__rating"></p>
    </div>
</li>
{{/each}}