{{#each this}}
<li class="movie-card">
      <img class=" card__img" src="https://www.themoviedb.org/t/p/w500{{poster_path}}">
    <p class="movie-card__title"></p>
<div class="movie-card__text">
    <P class="movie-card__genre">{{genre}}</P> 
    <p class="movie-card__year">{{date}}</p>
    </div>
</li>
{{/each}}


